<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="images/fav.png" type="image/gif" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Razor</title>

    {LIBRARIES}

</head>

<body>
    
    <div class='art-master mobile'>
    
        <div class='art-main-nav-mobile'>
            <a href='#' id='art-toggle-menu'><i class='mdi mdi-menu'></i></a>
            <a generator='adianti' href='index.php?class=PushList' id='art-toggle-notice'><i class='mdi mdi-bell-outline'></i></a>
        </div>

        {MENU}

        <div class='art-live'>
            
            <div class='art-live-content'>

                <div id='mensages-content'></div>
                <div id="adianti_div_content"> </div>
                <div id="adianti_online_content"></div>
                <div id="adianti_online_content2"></div>
                <div id="adianti_right_panel"></div>
                
            </div>
    
        </div>
        
    </div>
                
</body>
</html>
