<!DOCTYPE html>
<html lang="zxx">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="images/fav.png" type="image/gif" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Razor</title>

    {LIBRARIES}

    <style type="text/css">
        
        html {
          height: 100%;
        }
        body {
          height: 100%;
          display: flex;
        }

    </style>
    
</head>

<body>

    <div class='external-area'>
        
        <div class='external-area-content'>

            <div id="adianti_div_content" class="content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            <div id="pageboth"><br></div>

        </div>

    </div>


</body>
</html>
